NEXT_PUBLIC_SUPABASE_URL=https://zllabhnguvrzxmdmpcst.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsbGFiaG5ndXZyenhtZG1wY3N0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MzgyOTQsImV4cCI6MjA5NjExNDI5NH0.TRFddNJyWlfpzM3cpX5rm5IgvApVJ5_cG1UOR7wNRQA
NEXT_PUBLIC_API_URL=https://your-render-api.onrender.com
